.btn {
    &-anchor {
        color: #000;
        background-color: #099cb9;
        border-color: #099cb9;
    }
    &-wax {
        color: #000;
        background-color: #d49f00;
        border-color: #d49f00;
    }
}
